<header id="header">
    <h1>MyBlog</h1>
    {{#if isAuth}}
    <h2>Welcome <span>{{user}}!</span>!</h2>
    {{else}}
    {{/if}}
    <nav id="nav">
        <ul>
            {{#if isAuth}}
            <li><a href="#/logout">Logout</a></li>
            {{else}}
            <li><a href="#/home">Home</a></li>
            <li><a href="#/login">Login</a></li>
            <li><a href="#/register">Register</a></li>
            {{/if}}
        </ul>
    </nav>
</header>