{{>header}}
<section class="details">
    <div class="detail">
        <h1>Title: {{ress.title}}</h1>
        <h2>Category: {{ress.category}}</h2>
        <h3>Content: {{res.content}}</h3>
        <a href="#/home">Back to Home</a>
    </div>
</section>